body {
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/564x/03/03/41/0303415cd8b99d5c02bdb1c42dd70941.jpg");
    background-size: 100%;
  }

  #content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    font-size: 5vw;
    font-family: Impact;
  }

  .yes {
    position: absolute;
    top: 51%;
    left: 7%;
    background-color: silver;
    color: white;
    padding: 2.5vw;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-size: 3vw;
  }

  .yes:hover {
    background-image: url("/needimage.html/mine.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 162, 177);
  }

  .no {
    position: absolute;
    top: 51%;
    left: 58%;
    background-color: silver;
    color: white;
    padding: 2.5vw;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 30px;
    font-size: 3vw;
  }

  .no:hover {
    background-image: url("/needimage.html/love.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(255, 162, 177);
  }

  .text-container {
    position: absolute;
    top: 24.5%;
    left: 77.5%;
    transform: translateX(100%);
    text-align: center;
    color: black;
    font-size: 2vw;
    font-family: Times;
    line-height: 1.2;
    width: 30vw;
    transition: transform 0.5s;
  }

  .text-container p {
    margin: 0;
    font-size: 2vw;
    margin-bottom: 1vw;
  }

  .text-container p:last-child {
    margin-bottom: 0;
  }

  .text-container a {
    color: pink;
  }

  .gif {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 2vw;
    border-radius: 10px;
    z-index: 999;
  }

  .popup img {
    width: 20vw;
    height: auto;
    margin-bottom: 1vw;
  }

  .popup p {
    font-size: 2.4vw;
    margin: 0;
  }

  @media screen and (max-width: 600px) {
    #content {
      font-size: 10vw;
    }

    .yes,
    .no {
      padding: 6vw;
      font-size: 5vw;
    }

    .text-container {
      font-size: 4vw;
      width: 60vw;
    }

    .text-container p {
      font-size: 4vw;
      margin-bottom: 2vw;
    }

    .popup {
      padding: 4vw;
    }

    .popup img {
      width: 40vw;
      margin-bottom: 2vw;
    }

    .popup p {
      font-size: 4.8vw;
    }
  }